= form_for [@message] do |f|
  - if @message.errors.any?
    #error_explanation
      %h2= "#{pluralize(@message.errors.count, "error")} prohibited this message from being saved:"
      %ul
        - @message.errors.full_messages.each do |msg|
          %li= msg

  .inputgroup
    = f.label :recipient_id
    = f.select :recipient_id, options_from_collection_for_select(@other_users, 'id', 'username')
  .inputgroup
    = f.label :content
    = f.text_area :content, {required: :required}
  / .inputgroup
  /   = f.label :is_read
  /   = f.check_box :is_read
  .inputgroup#update
    = f.submit 'Send'

