.col-100
  %h1 Conversation
.col-100

  - @messages.each do |message|
    .conversation
      .users
        .avatar= image_tag @user_2.avatar
        = message.sender_username
        to
        = message.recipient_username
      .msgcontent
        = message.content
      / %li= message.is_read
      / = link_to 'Show', message
      / = link_to 'Edit', edit_message_path(message)
      / = link_to 'Destroy', message, :method => :delete, :data => { :confirm => 'Are you sure?' }
  .col-58
    %ul
      %li.button-conversation
        = link_to 'New Message', new_message_path



