.col-100
  %h1 Contacts
  .col-22
    - @users.each do |user|
      - image = user.avatar
      - username = user.username
      %ul
        %li
          = image_tag ("#{image}"), class: "low"
          = link_to username, "/messages/user/#{username}"

      %br
    %ul
      %li.button
        = link_to 'New Message', new_message_path
