%p#notice= notice

%h1 FEEDS SHOW page
/ =find_image(@feed.feed_url)
%p
  %b Feed title:
  = @feed.title
%p
  %b Feed logo:
  =image_tag @feed.logo
%p
  %b Main url:
  = @feed.main_url
%p
  %b Feed url:
  = @feed.feed_url
%p
  %b Keywords:
  = @feed.keywords
%p
  %b Summary:
  = @feed.summary
%p
  %b Author:
  = @feed.author
%p
  %b Flag count:
  = @feed.flag_count
%p
  %b Up vote count:
  = @feed.up_vote_count
%p
  %b Down vote count:
  = @feed.down_vote_count

= link_to 'Edit', edit_feed_path(@feed)
\|
= link_to 'Back', feeds_path
\|
= link_to 'Add a strip to feed', new_feed_strip_path(@feed)
\|
%ul
  - @feed.strips.each do |strip|
    %li
      Strip id:
      = strip.id
    %li
      Strip url:
      =image_tag (strip.strip_url)
    %li

    %li
      Keywords:
      = strip.keywords
    %li
      Up-votes:
      = strip.up_vote_count
    %li
      Down-votes:
      = strip.down_vote_count
    %li
      Created at:
      = strip.created_at
    %li
      Comments count (viewable on show page):
      = link_to "#{strip.comments.count} comments", feed_strip_path(strip)

