%p#notice= notice

%h1 FEEDS SHOW page
%h2=@answer

%p
  - if Subscription.is_subscribed?(current_user.id, @feed.id)
    = link_to 'Unsubscribe', "/feeds/#{@feed.id}/subscriptions", method: :delete
  - else
    = link_to 'Subscribe', "/feeds/#{@feed.id}/subscriptions", method: :post


%ul
  %li
    %b Feed title:
    = @feed.title
  %li
    %b Feed logo:
    =image_tag @feed.logo
  %li
    %b Main url:
    = @feed.main_url
  %li
    %b Feed url:
    = @feed.feed_url
  %li
    %b Keywords:
    = @feed.keywords
  %li
    %b Summary:
    = @feed.summary
  %li
    %b Author:
    = @feed.author
  %li
    %b Flag count:
    = @feed.flag_count
  %li
    %b Up vote count:
    = @feed.up_vote_count
  %li
    %b Down vote count:
    = @feed.down_vote_count

  = link_to 'Edit', edit_feed_path(@feed)
  \|
  = link_to 'Back', feeds_path
  \|
  = link_to 'Add a strip to feed', new_feed_strip_path(@feed)
  \|
  %ul
    - @feed.strips.each do |strip|
      %li
        Strip id:
        = strip.id
      %li
        Keywords:
        = strip.keywords
      %li
        Up-votes:
        = strip.up_vote_count
      %li
        Down-votes:
        = strip.down_vote_count
      %li
        Created at:
        = strip.created_at
      %li
        Strip url:
        =image_tag (strip.strip_url)
      %li
        Comments count (viewable on show page):
        = link_to pluralize(strip.comments.count, "comment"), feed_strip_path(@feed, strip)

