%p#notice= notice
.col-100
  %h1 Comment on this strip?

  %p
    %strong Title:
    = @strip.id
  %p
    %b Strip url:
    = image_tag (@strip.strip_url)
  %p
    %b Keywords:
    = @strip.keywords
  %p
    %b Flag count:
    = @strip.flag_count
  %p
    %b Up vote count:
    = @strip.up_vote_count
  %p
    %b Down vote count:
    = @strip.down_vote_count

  = link_to 'Edit', edit_feed_strip_path(@feed, @strip)
  = link_to "Back to the #{@feed.title} feed", feed_path(@feed)

  %h2 Comments
  = "There are " + pluralize(@strip.comments.count, "comment") + " for this strip."
  %ul
  - @strip.comments.each do |comment|
    %li= comment.content
    ="posted by #{comment.user_id}" #REALLY THIS NEEDS TO BE USERNAME

  %h2 Add a comment:
  = form_for([@feed, @strip, @strip.comments.build]) do |f|
    %p
      = f.label :content
      %br/
      = f.text_area :content
    %p
      = f.submit