%p#notice= notice
.col-100
  .col-25
    %h1
      = link_to "Like this strip?", upvote_feed_strip_path(@feed, @strip)
      (
      = @strip.likes.size
      )
  .col-27
    = image_tag (@feed.logo), class: "low"
    = link_to "Back to #{@feed.title}", feed_path(@feed)
  %br
  %br

  .col-25
    = image_tag (@strip.strip_url)
  %p
    / %strong Title:
    / = @strip.id
  %p
    / %b Strip url:
  / %p
  /   %b Keywords:
  /   = @strip.keywords
  / %p
  /   %b Flag count:
  /   = @strip.flag_count
  / %p
  /   %b Up vote count:
  /   = @strip.up_vote_count
  / %p
  /   %b Down vote count:
  /   = @strip.down_vote_count

  / = link_to 'Edit', edit_feed_strip_path(@feed, @strip)
  .col-27
    %h2
      = pluralize(@strip.comments.count, "comment") + ": "
    - @strip.comments.each do |comment|
      "
      = comment.content
      "
      / ="posted by #{comment.user_id}" #REALLY THIS NEEDS TO BE USERNAME
      = link_to "Like", upvote_feed_strip_comment_path(@feed, @strip, comment.id)
      (
      = comment.likes.size
      )
      %br

    = form_for([@feed, @strip, @strip.comments.build]) do |f|
      %p
        = f.text_area :content
      .inputgroup#update
        = f.submit 'Comment!'