%h1 Listing comments

%table
  %tr
    %th Content
    %th Flag count
    %th Up vote count
    %th Down vote count
    %th
    %th
    %th

  - @comments.each do |comment|
    %tr
      %td= comment.content
      %td= comment.flag_count
      %td= comment.up_vote_count
      %td= comment.down_vote_count
      %td= link_to 'Show', feed_strip_comments_path(comment)
      %td= link_to 'Edit', edit_feed_strip_comment_path(@feed, @strip, comment)
      / %td= link_to 'Destroy', comment, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

/ = link_to 'New Comment', new_comment_path
