%p#notice= notice

%p
  %b Content:
  = @comment.content
%p
  %b Flag count:
  = @comment.flag_count
%p
  %b Up vote count:
  = @comment.up_vote_count
%p
  %b Down vote count:
  = @comment.down_vote_count

= link_to 'Edit', edit_comment_path(@comment)
\|
= link_to 'Back', comments_path
