.col-100
  %h1 (back to the) Drawing board
.col-100
  .col-22
    %h2='Subscriptions'
    .red="All Notifications: #{@user.notifications.where(active: true).count} new"
    - @feeds.each do |feed|
      %ul
        %li=image_tag (feed.logo), class: "low"
        %li= link_to "#{feed.title} (#{current_user.notifications.where(feed_id: feed.id, active: true).count})", feed
        %li.small= link_to 'Unsubscribe', "/feeds/#{feed.id}/subscriptions", method: :delete
        / = feed.notecount



  .col-58
    %h2=link_to '>> Inbox', messages_path
    / =render template "messages/index"
    %br
    =image_tag "wrong.png", class: "wrong"

    / %a{href: messages_path}
    /   =image_tag "message.png"
    /   Go to inbox
.col-foot


