
.col-100
  %ul.slider
    %li
      =image_tag "#{@strips.sample.strip_url}"
    %li
      =image_tag "#{@strips.sample.strip_url}"
    %li
      =image_tag "#{@strips.sample.strip_url}"
    %li
      =image_tag "#{@strips.sample.strip_url}"
    / %li
    /   =image_tag "#{@rand_strips.sample.strip_url}"
.col-foot
