<div class="col-100">
  <h2>Sign in</h2>
</div>
<div class="col-100">
<div class="inputgroup">
  <div class="col-25">
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div><%= f.label :email %><br />
  <%= f.email_field :email, :autofocus => true %></div>

  <div><%= f.label :password %><br />
  <%= f.password_field :password %></div>

<!-- <%= render "devise/shared/links" %> -->
<%- if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name) %><br />
<% end -%>
<br />
  <% if devise_mapping.rememberable? -%>
  <div id="checkbox">
    <div><%= f.check_box :remember_me %>
      <div class="small">
        <%= f.label :remember_me %>
      </div>
    </div>
  </div>
  <% end -%>
<br />
<div class="inputgroup">
  <div id="update"><%= f.submit "Sign in" %></div>
<% end %>
</div>
</div>
<div class="col-25">
<%= image_tag "password.png" %>
</div>
