.col-100
  %h1 Search results
.col-100
  %ul
  - @feeds.each do |feed|
    %li
      = link_to "#{feed.title}", feed_path(feed)
      = feed.keywords
      = feed.summary
      = feed.author
      / = feed.feed_type

  .col-foot
