!!!
%html
  %head
    %title Comic Reader
    = stylesheet_link_tag    "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #container
      .user-nav
        - if user_signed_in?
          Logged in as
          %b= current_user.email
          = link_to 'Home', "/"
          \|
          = link_to 'Edit Profile', edit_user_registration_path
          \|
          = link_to 'Logout',  destroy_user_session_path, method: :delete
          \|
          =link_to 'Drawing Board', drawing_board_path(@user)
          \|
          =link_to 'All feeds', feeds_path
          \|
          =link_to 'inbox (messages list)', messages_path
        - else
          = link_to 'Sign up', new_user_registration_path
          \|
          = link_to 'Sign in', new_user_session_path
          \|
          = link_to "Sign in with Google", user_omniauth_authorize_path(:google_oauth2)


      - flash.each do |name, msg|
        = content_tag :div, msg, :id => "flash_#{name}"

    %br
    = form_tag searches_path do
      = label_tag :search
      = text_field_tag :query
      = submit_tag 'search'

    \#{yield}